<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Tab</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <!-- <link rel="stylesheet" href="./mvp.css" /> -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
  </head>
  <body>
    <!-- <main> -->
      <h1 style = "text-align:center">PGI • DOCTOR</h1>
      <img class="wave" src="../img/wave.png">
      <div class="container">
        <div class="img">
          <img src="../img/health-check.svg">
        </div>
        <div class="login-content">
    
          <form id="login" method="POST" action = "/login">
            <img src="../img/doctor.svg">
            <h2 class="title">Welcome</h2>
                   <div class="input-div one">
                      <div class="i">
                          <i class="fas fa-user"></i>
                      </div>
                      <div class="div">
                          <h5>User Email</h5>
                          <input type="email" name = "login" id="exampleInputEmail1" required aria-describedby="emailHelp" class="input" required>
                      </div>
                   </div>
                   <div class="input-div pass">
                      <div class="i"> 
                         <i class="fas fa-lock"></i>
                      </div>
                      <div class="div">
                         <h5>Password</h5>
                         <input type="password" name = "password" id="exampleInputPassword1" class="input" required>
                     </div>
                  </div>
                  <a href="#">Forgot Password?</a>
                  <input type="submit" class="btn" value="Login">
                </form>
    
    
    
            </div>
        </div>

      <script>
        window.addEventListener("DOMContentLoaded", () => {
          const firebaseConfig = {
            apiKey: "AIzaSyAhLDDsUJ4zH-bU5f7c9_jGZOBQ6qCPcL8",
            authDomain: "pgidoctor-78e8b.firebaseapp.com",
            projectId: "pgidoctor-78e8b",
            storageBucket: "pgidoctor-78e8b.appspot.com",
            messagingSenderId: "941092939559",
            appId: "1:941092939559:web:eb3c0c525de1317ff96b02",
            measurementId: "G-5Z5KQBJFMB"
          };

          firebase.initializeApp(firebaseConfig);

          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL);

          document
            .getElementById("login")
            .addEventListener("submit", (event) => {
              event.preventDefault();
              const login = event.target.login.value;
              const password = event.target.password.value;

              firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .then(({ user }) => {
                  return user.getIdToken().then((idToken) => {
                    return fetch("/sessionLogin", {
                      method: "POST",
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                      },
                      body: JSON.stringify({ idToken }),
                    });
                  });
                })
                .then(() => {
                  window.location.assign("/");
                });
              return false;
            });
        });
      </script>
    <!-- </main> -->
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
