<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pgidoctor">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PGIDoctor">
        <activity android:name=".ViewMoreDetailActivity"></activity>
        <activity android:name=".ViewAllDiagnosisFormActivity" />
        <activity android:name=".ViewByNameActivity" />
        <activity android:name=".SearchByNameActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PatientDiagnosisFormActivity" />
        <activity android:name=".ViewMoreActivity" />
        <activity android:name=".OpenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CompounderPortalActivity" />
        <activity android:name=".DoctorPortalActivity" />
        <activity android:name=".ViewPendingActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AssignedPatients" />
        <activity android:name=".CollectDataActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.pgidoctor"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>